.burn-slider-wrapper {
height: 0px;
overflow: hidden;
display: flex;
flex-flow: column-reverse;
position: relative;
background: #666;
}
.burn-slider-wrapper > .columns:first-child{
  margin-top: auto;
}
