// Typography
$themeTextColor: #def;

$lineHeight: 1.5;
$fontFamily: Flama;
$disabledTextColor: #aaa;

*.disabled {
  color: $disabledTextColor;
}

.screen{
  // letter-spacing: 1.5px;
  letter-spacing: 2px; // TODO: set proper vars
}

@font-face {
  font-family: $fontFamily;
  src: url("/static/font/Flama-Book.otf") format("opentype");
}

h3 {
  color: #fff;
  font-size: 1.25rem; // is-size-5
}

h6 {
  color: #aaa;
  font-size: 0.6rem;
  padding: 0.4rem 0.2rem;
}