// Set HODL-DAO default brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$black: #000000;

/** 
* with the "theme" prefix, we can easily theme by 
* overwriting these in the imported theme file;
* use $theme* vaiables directly, not the color names;
*/
// grayScale
$themeSurfaceLight: #565656;
$themeSurfaceMid: #383838;
$themeSurfaceDark: #2f2f2f;
// surely, there's some tint to your darkness
$themeBlack: $black;

// colors
$themeRed: red;
