@import "bulma/bulma";

@import "./variables";

@import "./components/range-slider";

.elt-swap-wizard{
  // @extend .is-10;
  width: 80%;
  background-color: $surfaceDark;
  border-radius: 1rem;
  color: #fff;
}

.not-connected {
  cursor:not-allowed;
}
.not-connected *:not(button.connect-wallet) {
  cursor: not-allowed;
}

.elt-swap-wizard .card {
  border-radius: 1rem;
background-color: $surfaceMid;
}

.number-bubble{
  background-color: $surfaceLight;
  border-radius: 20px;
  height: 40px;
}

.card{
  padding-bottom: 1rem;
}

pre{
  @extend .px-2;
  @extend .py-1;
  color: #fff;
  background-color: transparent;
}

.connectionIndicator {
  color: red;
}

h3 {
  @extend .px-2;
  color: #fff;
}

.info-pill{
  @extend .is-flex;
  @extend .px-1;
  @extend .py-0;
  border-radius: 1rem;
  background-color: $surfaceLight;
}

#ethPill{
  @extend .pr-0;
}

#balancePill{
  background-color: $surfaceMid;
  margin-right: 0;
  padding: 0rem;
  border: 1px solid $surfaceLight;
}

#hodlPill {
  background-image: linear-gradient(-189deg, #528BF8 0%, #DE4967 100%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

#eltPill{
  background-image: linear-gradient(-199deg, #000000 0%, #68396E 44%, #000000 100%);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);
}

