
@import "./variables";

@import "./components/range-slider";

.elt-swap-wizard{
  width: 80%;
  min-width: 320px;
  background-color: $surfaceDark;
  border-radius: 1rem;
  color: #fff;
  font-family: Monaco, monospace;
  max-width: 940px;
  white-space: nowrap;
}

button:focus,
.button:focus{
  outline: none;
}

.input:focus{
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}
.not-connected {
  cursor:not-allowed;
}
.not-connected *:not(button.connect-wallet) {
  cursor: not-allowed;
}

#wizardContent{
  border-radius: 1rem;
  background-color: $surfaceMid;
  padding: 1rem;
}

.number-bubble{
  @extend .is-size-4;
  background-color: $surfaceLight;
  border: none;
  border-radius: 20px;
  height: 40px;
  color: #def;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin-top: 5px;
}

.card{
  padding-bottom: 1rem;
}

pre{
  @extend .px-2;
  @extend .py-1;
  color: #fff;
  background-color: transparent;
}

.connected {
  color: #37a24a;
}

h3 {
  color: #fff;
}
h6{
  color: #aaa;
  font-size: 0.6rem;
  padding: 0.4rem 0.2rem;
}

.info-pill{
  align-items: center;
  text-align: center;
}
.info-pill > pre {
  border-radius: 1rem;
  background-color: $surfaceLight;
}

#ethPill{
  display: flex;
  flex-grow: 1;
  min-width: 120px;
  background-color: $surfaceLight;
  border-radius: 1rem;
  white-space: nowrap;
  text-align: center;
}
#ethPill > span {
  align-self: center;
  margin-left: auto;
  padding: 0 5px;
}
#balancePill{
  background-color: $surfaceMid;
  margin-right: 0;
  padding: 2px 5px;
  border: 1px solid $surfaceLight;
  border-radius: 1rem;
  margin-left: auto;
}
#connectionIndicator {
  color: #DC3737;
  position: relative;
}
#connectionIndicator.connected {
  color: #38A24A;
}
#hodlPill {
  @extend .info-pill;
}
#hodlPill > pre {
  background-image: linear-gradient(-189deg, #528BF8 0%, #DE4967 100%);
}

#eltPill{
  @extend .info-pill;
}
#eltPill > pre {
  background-image: linear-gradient(-199deg, #000000 0%, #68396E 44%, #000000 100%);
}

.button.connect-wallet{
  background-color: rgba(181, 72, 72,1);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.50);
  border-radius: 22px;
  border: none;
  color: #fff;
  outline: none;
}
.button.connect-wallet.disabled{
  // background-color: rgba(181, 72, 72,0.5);
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}
.button.connect-wallet.pending{
  // background-color: rgba(181, 72, 72, 0.5);
  background-color: #686868;
}
.button.connect-wallet.connected{
  background-image: linear-gradient(199deg, #DF6B83 0%, #6A93E1 49%, #572D64 100%);
}
.button.connect-wallet.connected.disabled{
  background-image: linear-gradient(199deg, #909090 0%, #8f8f8f 49%, #3f3f3f 100%);
}
.button.connect-wallet.connected.pending{
  background-image: linear-gradient(199deg, #706070 0%, #8f8f8f 49%, #3f3f3f 100%);
}

#performSwapBtn{
  // background-image: linear-gradient(-189deg, #528BF8 0%, #DE4967 50%, #000000 52%, #68396E 72%, #000000 100%);
  background-image: linear-gradient(-0deg,  #528bf8 0%, #000 1%, #68396E 50%, #814d5f 52%,  #DE4967 72%, #528BF8 100%);
  border: none;
  color: #fff;
}

.elt-swap-progress-wrapper > span{
  font-size: 0.8rem;
}

// move these to utils
.ref-asterix{
  font-size: 0.8rem;
}

.input::placeholder {
  color: inherit;
  opacity: .5;
}
