
@import "./variables";

@import "./components/range-slider";

.elt-swap-wizard{
  width: 80%;
  min-width: 320px;
  background-color: $surfaceDark;
  border-radius: 1rem;
  color: #fff;
  font-family: Monaco, monospace;
  max-width: 940px;
}

.not-connected {
  cursor:not-allowed;
}
.not-connected *:not(button.connect-wallet) {
  cursor: not-allowed;
}

#wizardContent{
  border-radius: 1rem;
  background-color: $surfaceMid;
  padding: 1rem;
}

.number-bubble{
  background-color: $surfaceLight;
  border: none;
  border-radius: 20px;
  height: 40px;
  color: #def;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  font-size: 0.9rem;
}

.card{
  padding-bottom: 1rem;
}

pre{
  @extend .px-2;
  @extend .py-1;
  color: #fff;
  background-color: transparent;
}

.connected {
  color: #37a24a;
}

h3 {
  color: #fff;
}

.info-pill{
  align-items: center;
  text-align: center;
}
.info-pill > pre {
  border-radius: 1rem;
  background-color: $surfaceLight;
}

#ethPill{
  display: flex;
  flex-grow: 1;
  min-width: 120px;
  background-color: $surfaceLight;
  border-radius: 1rem;
  white-space: nowrap;
  text-align: center;
}
#ethPill > span {
  align-self: center;
  margin-left: auto;
  padding: 0 5px;
}
#balancePill{
  background-color: $surfaceMid;
  margin-right: 0;
  padding: 2px 5px;
  border: 1px solid $surfaceLight;
  border-radius: 1rem;
  margin-left: auto;
}
.connectionIndicator {
  color: #DC3737;
  position: relative;
  top: -2px;
}
.connectionIndicator.connected {
  color: #38A24A;
}
#hodlPill {
  @extend .info-pill;
}
#hodlPill > pre {
  background-image: linear-gradient(-189deg, #528BF8 0%, #DE4967 100%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

#eltPill{
  @extend .info-pill;
}
#eltPill > pre {
  background-image: linear-gradient(-199deg, #000000 0%, #68396E 44%, #000000 100%);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);
}

#performSwapBtn{
  background-image: linear-gradient(-189deg, #528BF8 0%, #DE4967 50%, #000000 52%, #68396E 72%, #000000 100%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border: none;
  color: #fff;
}