// @import "../../styles/variables";

.ticker-belt-wrapper {
  background-color: $themeSurfaceMid;
  border-radius: 15px;
}

.ticker-belt-wrapper > .receipt-footer {
  border-top: 1px solid #565656;
}
