// TODO: Investigate how to not use !important
input {
  border: none;
}

input[type=number]:disabled {
  background-color: $themeSurfaceLight !important;
  border: none !important;
}

.input:focus {
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

input[disabled],
input:focus::placeholder {
  color: transparent;
}