.elt-swap-wizard > .screen{
  display: none;
}
.elt-swap-wizard > .screen.active{
  display: block;
}
.elt-swap-wizard > .screen .screen-header{
  
}
.elt-swap-wizard > .screen .screen-body{

}
.elt-swap-wizard > .screen .screen-footer{

}
.elt-swap-wizard .screen.prologue-screen{
  white-space: normal;
}
.elt-swap-wizard .screen.elt-swap-wizard-screen{

}
.elt-swap-wizard .screen.eth-purcahse-screen{

}
.elt-swap-wizard .screen.epilogue-screen{

}
