
#swapHodlBurnRatio{
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

input[type=range] {
  // height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  // margin: 10px 0;
  width: 100%;
  background-color: transparent;
  border: none;
}
input[type=range]:focus {
  outline: none;
}

// Chrome
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: $surfaceLight;
  border-radius: 1px;
  border: 0px solid #000000;
  z-index: 90;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 3px #000000;
  border: 1px solid #b2b2b2;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #b2b2b2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
  z-index: 100;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $surfaceLight;
}

// FireFox
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: $surfaceLight;
  border-radius: 2px;
  border: 0px solid #000000;
  z-index: 90;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 3px #000000;
  border: 1px solid #b2b2b2;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #b2b2b2;
  z-index: 100;
  cursor: pointer;
}

// IE - I deleted it and felt really good about it
 
#swapProgress{
  background-color: $surfaceLight;
  padding: 0;
  border-radius: 2rem;
  position: relative;
}
#swapProgress::before{
  width: 65%;
  height: 18px;
  background-color: red;
  position: absolute;
  margin: .5rem 0 .5rem .5rem;
  border-radius: 2rem;
  content: '';
  z-index: 10000;
  top: 0;
}
